<div fxLayout="column" fxLayoutAlign="center center" class="h-100">
    <div fxLayout="row" fxLayoutAlign="center center" class="wisconsin-form-section">
      <form class="round-border-form p-3" [formGroup]="resetPasswordForm" fxLayoutAlign="center center"
        fxLayout="column" fxFlex="450px" fxFlex.lg="450px" fxFlex.xs="90%">
        <h1>Reset Password</h1>

        <div class="form-group w-100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" />
            <mat-icon matPrefix>lock</mat-icon>
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNewPassword">
              <mat-icon class="pb-3">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f['newPassword'].invalid && (f['newPassword'].dirty || f['newPassword'].touched || submitted)">Password is required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group w-100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
            <mat-icon matPrefix>lock</mat-icon>
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPassword">
              <mat-icon class="pb-3">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f['confirmPassword'].errors?.['required'] && (f['confirmPassword'].dirty || f['confirmPassword'].touched || submitted)">Password is required</mat-error>
            <mat-error *ngIf="f['confirmPassword'].errors?.['mustMatch']">Password mismatch</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group w-100 pb-3">
          <button mat-raised-button color="primary" class="w-100" [disabled]="!resetPasswordForm.valid || isLoading" (click)="onSubmit()">
            <mat-icon *ngIf="isLoading"><mat-spinner diameter="20"></mat-spinner></mat-icon>
            Reset Password
          </button>
        </div>
        <div class="form-group w-100 pb-3">
          <button mat-button color="primary" class="w-100" routerLink="/login">Go back to Login</button>
        </div>
      </form>
    </div>
  </div>
  