<h2 mat-dialog-title>Change Password</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="p-3">
    <form [formGroup]="changePasswordForm" class="w-100">
        <mat-form-field appearance="outline" class="in-dialog w-100">
            <mat-label>Old Password</mat-label>
            <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword" />
            <mat-icon matPrefix>lock</mat-icon>
            <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword"
                [attr.aria-label]="'Hide old password'" [attr.aria-pressed]="hideOldPassword">
                <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f['oldPassword'].invalid && (f['oldPassword'].dirty || f['oldPassword'].touched || submitted)">
                Password is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="in-dialog w-100">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" />
            <mat-icon matPrefix>lock</mat-icon>
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNewPassword">
                <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f['newPassword'].invalid && (f['newPassword'].dirty || f['newPassword'].touched || submitted)">
                Password is required
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button class="ml-3" (click)="onSubmit()" [disabled]="!this.changePasswordForm.valid || isLoading" mat-raised-button
        color="primary">
        <mat-icon *ngIf="isLoading">
            <mat-spinner color="primary" diameter="20"></mat-spinner>
        </mat-icon>
        Submit
    </button>
</mat-dialog-actions>
