<h2 mat-dialog-title>{{data?.mode | titlecase }} Event </h2>
<mat-divider></mat-divider>
<mat-dialog-content class="p-3">
    <form [formGroup]="eventForm" class="w-100">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" />
            <mat-error *ngIf="f['title'].invalid && (f['title'].dirty || f['title'].touched || submitted)">
                Required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Body</mat-label>
            <textarea matInput type="text" formControlName="body"></textarea>
            <mat-error *ngIf="f['body'].invalid && (f['body'].dirty || f['body'].touched || submitted)">
                Required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="date" [min]="minDate">
            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
               [stepHour]="1" [stepMinute]="10" [stepSecond]="1"
               [touchUi]="false" [enableMeridian]="true" 
               [disableMinute]="false" [hideTime]="false">
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="f['date'].invalid && (f['date'].dirty || f['date'].touched || submitted)">
                Required
            </mat-error>
         </mat-form-field>

    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button class="ml-3" (click)="onSubmit()" [disabled]="isLoading" mat-raised-button color="primary">
        <mat-icon *ngIf="isLoading">
            <mat-spinner color="primary" diameter="20"></mat-spinner>
        </mat-icon>
        Submit
    </button>
</mat-dialog-actions>
