<h2 mat-dialog-title>Edit Profile</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="p-3">
    <form [formGroup]="profileForm" class="w-100">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstName" />
                <mat-error *ngIf="f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName" />
                <mat-error *ngIf="f['lastName'].invalid && (f['lastName'].dirty || f['lastName'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">

            <mat-form-field fxFlex appearance="fill" class="w-100">
                <mat-label>User ID</mat-label>
                <input matInput type="text" formControlName="id" readonly/>
                <mat-error *ngIf="f['id'].invalid && (f['id'].dirty || f['id'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill" class="w-100">
                <mat-label>Personal Mobile</mat-label>
                <input matInput type="tel" formControlName="phone" />
                <mat-error *ngIf="f['phone'].invalid && (f['phone'].dirty || f['phone'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>


        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <mat-form-field fxFlex appearance="fill" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
                <mat-error *ngIf="f['email'].errors?.['required'] && (f['email'].dirty || f['email'].touched || submitted)">
                    Required
                </mat-error>
                <mat-error *ngIf="f['email'].errors?.['email'] && (f['email'].dirty || f['email'].touched || submitted)">
                    Invalid email
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill" class="w-100">
                <mat-label>Parent's Mobile</mat-label>
                <input matInput type="tel" formControlName="parentPhone" />
                <mat-error *ngIf="f['parentPhone'].invalid && (f['parentPhone'].dirty || f['parentPhone'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>


        </div>

        
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">

            <mat-form-field fxFlex appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" name="gender">
                    <mat-option value="MALE">Male</mat-option>
                    <mat-option value="FEMALE">Female</mat-option>
                    <mat-option value="OTHER">Other</mat-option>
                </mat-select>
                <mat-error *ngIf="f['gender'].invalid && (f['gender'].dirty || f['gender'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex color="accent" appearance="fill" class="m-0">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="dob" formControlName="dateOfBirth"/>
                <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                <mat-datepicker #dob></mat-datepicker>
                <mat-error *ngIf="f['dateOfBirth'].invalid && (f['dateOfBirth'].dirty || f['dateOfBirth'].touched || submitted)">
                    Invalid value
                </mat-error>
            </mat-form-field>

        </div>

        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Skills</mat-label>
            <mat-chip-list #chipList multiple formControlName="skills">
              <mat-chip
                  *ngFor="let skill of skills"
                  [selected]="skill"
                  [value]="skill"
                  (removed)="removeKeyword(skill)">
                {{skill}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="New skill..."
                [matChipInputFor]="chipList"
                [matAutocomplete]="auto"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addKeywordFromInput($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Father's Name</mat-label>
                <input matInput type="text" formControlName="parent1Name" />
                <mat-error *ngIf="f['parent1Name'].invalid && (f['parent1Name'].dirty || f['parent1Name'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Mother's Name</mat-label>
                <input matInput type="text" formControlName="parent2Name" />
                <mat-error *ngIf="f['parent2Name'].invalid && (f['parent2Name'].dirty || f['parent2Name'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Address</mat-label>
            <textarea matInput type="text" formControlName="address"></textarea>
            <mat-error *ngIf="f['address'].invalid && (f['address'].dirty || f['address'].touched || submitted)">
                Required
            </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">

            <mat-form-field fxFlex appearance="fill" class="w-100">
                <mat-label>Landmark</mat-label>
                <input matInput type="text" formControlName="landmark"/>
                <mat-error *ngIf="f['landmark'].invalid && (f['landmark'].dirty || f['landmark'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill" class="w-100">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="city" />
                <mat-error *ngIf="f['city'].invalid && (f['city'].dirty || f['city'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">

            <mat-form-field fxFlex appearance="fill" class="w-100">
                <mat-label>State</mat-label>
                <input matInput type="text" formControlName="state"/>
                <mat-error *ngIf="f['state'].invalid && (f['state'].dirty || f['state'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill" class="w-100">
                <mat-label>Nationality</mat-label>
                <mat-select formControlName="nationality" name="nationality">
                    <mat-option *ngFor="let country of countries | keyvalue" [value]="country.key">{{country.value}}</mat-option>
                </mat-select>
                <mat-error *ngIf="f['nationality'].invalid && (f['nationality'].dirty || f['nationality'].touched || submitted)">
                    Required
                </mat-error>
            </mat-form-field>

        </div>

    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button class="ml-3" (click)="onSubmit()" [disabled]="isLoading" mat-raised-button
        color="primary">
        <mat-icon *ngIf="isLoading">
            <mat-spinner color="primary" diameter="20"></mat-spinner>
        </mat-icon>
        Submit
    </button>
</mat-dialog-actions>
