<div class="m-3">
    <div fxLayout="row" fxLayoutAlign="space-between end">
        <h1 class="m-0">Events</h1>
        <button mat-raised-button color="primary" class="" [disabled]="isLoading" (click)="addEvent()">
            <mat-icon>add</mat-icon>
            Add Event
        </button>
    </div>
    <hr />
  </div>
  
  <div [appLoader]="isListLoading" class="m-3">
    <mat-card>
        <table mat-table matSort [dataSource]="dataSource" class="w-100">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{element?.date | date:'medium'}} </td>
            </ng-container>
    
            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let element">{{element?.title}} </td>
            </ng-container>

            <!-- Minimum CGPA Column -->
            <ng-container matColumnDef="minCgpa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Min. CGPA </th>
                <td mat-cell *matCellDef="let element">{{element?.minCgpa}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip [selected]="!(getDate(element?.date) < currentDate)" color="accent">
                          <span class="pl-2">
                            {{getDate(element?.date) < currentDate ? 'Expired' : 'Active'}}
                          </span>
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
    
            <!-- Action Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Click to Edit" class="" color="primary" (click)="openEditEventDialog(element)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Click to Delete" class="" color="warn" (click)="deleteEvent(element)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
                </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
        </table>
        <div class="text-center text-secondary" *ngIf="dataSource.data.length == 0">No Data Available</div>
    
        <div class="mat-table__bottom">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" [length]="totalLength" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </mat-card>
  </div>