/* You can add global styles to this file, and also import other style files */
@import './theme';

$spacer: 1rem;

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  margin: 0;
  // font-family: 'Montserrat', sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f2ef;
}

.bg-primary {
  background-color: #005587 !important;
}

.w-100 {
  width: 100% !important;
}

.red {
  border: 2px solid #fe657d !important;
  color: #fe657d !important;
}

.green {
  border: 2px solid #509b7d !important;
  color: #509b7d !important;
}

.round-btn {
  border-radius: 18px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  border: 2px solid black;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }
}

.responsive {
  width: 100%;
  height: auto;
}

i, li, button {
  user-select: none; 
}

.text-error {
  color: #fe657d;
}

.round-border-form {
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 57px 0px rgba(98, 98, 98, 0.17);
  -moz-box-shadow: 0px 0px 57px 0px rgba(98, 98, 98, 0.17);
}

input[type=password] {
  letter-spacing: 7px;
  font: caption;
}

// Hide browser Eye(Password visible) icon
input::-ms-reveal,
input::-ms-clear {
  display: none;
}


.sub-heading {
  font-weight: 700 !important;
  color: #686980;
  text-transform: uppercase;
  letter-spacing: 3px !important;
  margin: 0 !important;
}

// Bug Fix: Material input label not aligned with border on outline appearance

.in-dialog {
  .mat-form-field-outline-start {
    width: 29px !important;
  }
}

// Loader

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #78BE20;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #78BE20 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

mat-sidenav-content {
  background-color: #e7e7e7;
}

.mat-button-toggle-checked {
  background-color: #005587 !important;
  color: #e7e7e7 !important;
}